<h1>Welcome</h1>
<p>This is a little project for traking personal project while suffering internet</p>
<% if user_signed_in? %>
	<%= link_to "My Project", user_projects_path(current_user)%>
<% end %>
