<div>
<p>Listing projects</p>
<ul>

		<% current_user.projects.each do |project| %>
			<li><%= link_to project.name, user_project_path(current_user, project) %></li>
		<% end %>

</ul>
<div style="margin-top: 5px">
<%= link_to 'Create Project', new_user_project_path(current_user), {class: "btn btn-default btn-xs", role: "button"} %>
</div>
</div>