<div>
<h1>Listing projects</h1>
<ul class="list-group">

		<% @avail_projects.each do |project| %>
			<%= link_to project.name, user_project_path(current_user, project), {class: "list-group-item"} %>
		<% end %>

</ul>
</div>