<h1>Editing project</h1>

<%= render 'form' %>


<div class="btn-group" style="margin-top: 5px">
<%= link_to 'Show', [current_user, @project] , {class: "btn btn-default btn-xs", role: "button"} %>
<%= link_to 'Back', user_projects_path(current_user) , {class: "btn btn-default btn-xs", role: "button"} %>
</div>