<div class="col-md-10 col-md-offset-2">
	<%= render 'list'%>
	<div style="margin-top: 10px">
		<%= link_to 'Create Project', new_user_project_path(current_user), {class: "btn btn-primary", role: "button"} %>
	</div>
</div>


